@use "./color" as *;
@use "./mixins" as *;
body {
    background-color: $color-primary-dark;
    @include flexed(column, space-between, center);
    position: relative;
    height: 100vh;
}

header {
    @include flexed (row, flex-start, flex-start);
    padding: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0 0 6px #fff, rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

footer {
    @include flexed (row, space-around, center);
    padding: 1.5rem;
    width: 100%;
    color: $color-font-heading;
    box-shadow: 0 0 6px #fff, rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.site-search {
    @include flexed(row, center, center);
    padding: .5rem;
    &__navbar {
        display: flex;
        flex-direction: row;
        width: 30%;
    }
    &__site-logo {
        width: 3.5rem;
    }
    &__heading {
        font-size: 1.2rem;
        padding: 1rem;
        color: $color-font-heading;
    }
    &__form {
        @include flexed(row, center, center);
    }
    margin: 0 auto;
}

#site-search__form {
    display: flex;
    width: 100%;
}

.form-label {
    color: $color-font-primary;
    font-size: 1rem;
    padding: .5rem 1rem;
}

#button {
    padding: 0.5rem 4rem;
    font-size: 1rem;
    border: 1px solid $color-font-heading;
    color: $color-font-heading;
    border-radius: 50px;
    background-color: transparent;
}

#button:hover {
    background-color: $color-font-heading;
    color: $color-font-primary;
    transform: scale(1.05);
}

.selectLanguage,
.selectGenres {
    border: 1px solid $color-font-heading;
    color: $color-font-heading;
    border-radius: 50px;
    background-color: transparent;
    margin-right: 2.5rem;
    border-radius: 1rem;
    padding: .1rem 1rem;
    width: 30%;
}