* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0 0 6px #fff, rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  color: #2fd3f0;
  box-shadow: 0 0 6px #fff, rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.site-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.site-search__navbar {
  display: flex;
  flex-direction: row;
  width: 30%;
}
.site-search__site-logo {
  width: 4rem;
}
.site-search__heading {
  font-size: 1.5rem;
  padding: 1rem;
  color: #2fd3f0;
}
.site-search__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#site-search__form {
  display: flex;
  width: 100%;
}

.form-label {
  color: white;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

#button {
  padding: 0.5rem 4rem;
  font-size: 1.25rem;
  border: 1px solid #2fd3f0;
  color: #2fd3f0;
  border-radius: 50px;
  background-color: transparent;
}

#button:hover {
  background-color: #2fd3f0;
  color: white;
  transform: scale(1.05);
}

.selectLanguage,
.selectGenres {
  border: 1px solid #2fd3f0;
  color: #2fd3f0;
  border-radius: 50px;
  background-color: transparent;
  margin-right: 2.5rem;
  border-radius: 1rem;
  padding: 0.1rem 1rem;
  width: 30%;
}

.site-movies {
  padding: 1rem;
}
.site-movies__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.site-movies__list__item {
  width: 20%;
  margin-right: 2rem;
  margin: 1rem;
}

.item-card {
  color: white;
  font-size: 1rem;
  width: 100%;
  margin: 1rem;
}
.item-card__img {
  border-radius: 5px;
  box-shadow: 0 0 6px #fff, rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.item-card__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10rem;
  padding: 0.75rem 0;
}
.item-card__date {
  font-size: 0.1em;
}
.item-card__btn {
  margin: 0.5rem 0;
  border: none;
  color: grey;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.item-card__btn:hover {
  transform: scale(1.1);
}
.item-card__btn--liked {
  color: gold;
}
.item-card__error-message {
  border: 1px solid red;
  color: white;
  padding: 1rem;
  border-radius: 30px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */